.contentSection {
  background-color: var(--palette-default-surface-1);
  padding: 4rem;
  border-radius: var(--size-rounded-xlarge);

  @media screen and (max-width: 800px) {
    & {
      border-radius: 0;
      padding: 2rem;
    }    
  }  
}