.main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin-top: 4rem;
  gap: 2rem;
  @media only screen and (max-width: 800px) {
    & {
      margin-top: 1rem;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--palette-messaging-highlight-info);
  height: 100vh;
  
}

.contentSection {
  background-color: var(--palette-default-surface-1);
  padding: 4rem;
  border-radius: var(--size-rounded-xlarge);
  &.footer {
    padding: 2rem 4rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    .footerMainLinks {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  @media screen and (max-width: 800px) {
    &.footer {
      padding: 2rem;
    }
    & {
      border-radius: 0;
      padding: 2rem;
    }    
  }  
}

.cannedSuggestionButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  & > * {
    text-wrap: nowrap;
  }
}

.codeRender {
  background-color: rgb(26, 30, 35);
  color: white;
  font-family: monospace;
  padding: 1rem;
  margin: 1rem 0rem;

}